<section class="section-spacing award tab-responsive flex">
<img  class="main-img" src="../assets/award.png" alt="award image">
<div class="flex flex-col flex-center gap-10">
    <h2>award winning application</h2>
    <p>Frybix delivered blazing fast performance, striking word Create customized popups and show the right message at the </p>
    <div class="flex mob-responsive gap-4">
        <a href="#"><img width="204px" height="59px" src="../assets/googleplay.png" alt="googleplay image"></a>
        <a href="#"><img width="200px" height="58px" src="../assets/appstore.svg" alt="appstore image"></a>
    </div>
</div>
</section>