<section class="section-spacing flex flex-center brands mob-responsive tab-responsive  gap-14">
<img src="../assets/google.svg" alt="google icon">
<img class="slack-icon" src="../assets/slack.svg" alt="slack icon">
<img src="../assets/discord.svg" alt="discord icon">
<img src="../assets/RioTinto.svg" alt="RioTinto icon">
<img src="../assets/heroku.svg" alt="heroku icon">
</section>