
<section class="section-spacing download tab-responsive flex flex-col flex-center gap-12">

{% set data = {
  heading: "Love Our Application?<br>Download Now",
  subheading: "Frybix delivered blazing fast performance, striking word solution",
  customClass: "headingandsub"
} %}
{% include "headingandsub.njk" %}
<div class="flex gap-4 mob-responsive">
    <img width="204px" height="59px" src="../assets/googleplay.png" alt="googleplay download">
    <img width="200px" height="58px" src="../assets/appstore.png" alt="appstore download">
</div>
</section>