<section class="section-spacing hero flex flex-center flex-col ">
<div class="hero-header-sec flex flex-col">
    <h1>Build your product by frybix app.</h1>
    <p>Frybix delivered blazing fast performance, striking word solution</p>
    <div class="flex flex-center gap-4 mob-responsive">
        <a href="https://play.google.com/store/">
            <img class="playstore-img" src="../assets/googleplay.png" alt="googleplay icon">
        </a>
        <a href="https://www.apple.com/app-store/">
            <img class="appstore-img" src="../assets/appstore.svg" alt="appstore icon">
        </a>
    </div>
</div>
<img class="hero-img" src="../assets/hero.png" alt="hero image">
</section>

