<section class="section-spacing plans-section flex flex-col gap-20">
{% set data = {
  heading: "choose your plan",
  subheading: "Frybix delivered blazing fast performance, striking word solution"
} %}
{% include "headingandsub.njk" %}

<div class="flex plans gap-6">
<div class="plan-card Starter flex flex-col gap-10">
<div class="flex flex-col gap-6">
    <h3>Starter plan</h3>
    <div class="flex gap-2">
        <img src="../assets/check-black.svg" alt="check icon">
        <span>live chat</span>
    </div>
        <div class="flex gap-2">
        <img src="../assets/check-black.svg" alt="check icon">
        <span>5gb hosting</span>
    </div>
        <div class="flex gap-2">
        <img src="../assets/check-black.svg" alt="check icon">
        <span>2 website 3 sub domains</span>
    </div>
</div>
<div class="flex flex-col gap-1">
<h3>$9.99/weekly</h3>
<span>up to 5 user + 1.99 per user</span>
</div>
<button class="signup-button">Sign Up</button>
</div>
<div class="plan-card-silver flex flex-col gap-10">
<div class="flex flex-col gap-6">
    <h3>Silver plan</h3>
    <div class="flex gap-2">
        <img src="../assets/check-white.svg" alt="check icon">
        <span>live chat</span>
    </div>
        <div class="flex gap-2">
        <img src="../assets/check-white.svg" alt="check icon">
        <span>5gb hosting</span>
    </div>
        <div class="flex gap-2">
        <img src="../assets/check-white.svg" alt="check icon">
        <span>2 website 3 sub domains</span>
    </div>
            <div class="flex gap-2">
        <img src="../assets/check-white.svg" alt="check icon">
        <span>email & live chat</span>
    </div>
            <div class="flex gap-2">
        <img src="../assets/check-white.svg" alt="check icon">
        <span>backlinks</span>
    </div>
</div>
<div class="flex flex-col gap-1">
<h3>$9.99/weekly</h3>
<span>up to 5 user + 1.99 per user</span>
</div>
<button class="signup-button-silver">Sign Up</button>
</div>
<div class="plan-card gold flex flex-col gap-10">
<div class="flex flex-col gap-6">
    <h3>Gold</h3>
    <div class="flex gap-2">
        <img src="../assets/check-black.svg" alt="check icon">
        <span>live chat</span>
    </div>
        <div class="flex gap-2">
        <img src="../assets/check-black.svg" alt="check icon">
        <span>5gb hosting</span>
    </div>
        <div class="flex gap-2">
        <img src="../assets/check-black.svg" alt="check icon">
        <span>2 website 3 sub domains</span>
    </div>
</div>
<div class="flex flex-col gap-1">
<h3>$29.99/weekly</h3>
<span>up to 5 user + 1.99 per user</span>
</div>
<button class="signup-button">Sign Up</button>
</div>

</div>
</section>