<div id="slides" class="flex flex-col gap-6 testmonial">
    <img class="person {{data.class}}" src="../assets/{{data.img}}" alt="{{ data.alt }}">
<div class="flex flex-col gap-2">
        <div class="flex star-wrapper flex-center">
        <img class="star-img" src="../assets/star.svg" alt="star rate icon">
        <img class="star-img" src="../assets/star.svg" alt="star rate icon">
        <img class="star-img" src="../assets/star.svg" alt="star rate icon">
        <img class="star-img" src="../assets/star.svg" alt="star rate icon">
        <img class="star-img" src="../assets/star.svg" alt="star rate icon">
    </div>
    <h6>{{ data.name }}</h6>
</div>
<p>{{ data.testimonial }}</p>
<div class="quotations">
    <img class="quotation" src="../assets/quotation.svg" alt="quotation icon">
    <img  class="quotation" src="../assets/quotation.svg" alt="quotation icon">
</div>
</div>