
<section class="section-spacing flex why-container">
<div class="flex flex-col gap-7">
{% set data = {
  heading: "Why Choose Us?",
  subheading: "Frybix delivered blazing fast performance, striking word Create customized popups and show the right message at the "
} %}
{% include "headingandsub.njk" %}
    <div class="flex gap-4">
        <img width="34px" height="34px" src="../assets/bullet.svg" alt="bullet icon">
        <span>live chat</span>
    </div>
        <div class="flex gap-4">
        <img width="34px" height="34px" src="../assets/bullet.svg" alt="bullet icon">
        <span>14 days trial</span>
    </div>
        <div class="flex gap-4">
        <img width="34px" height="34px" src="../assets/bullet.svg" alt="bullet icon">
        <span style="text-wrap: nowrap;">amazing communication</span>
    </div>
    <button class="btn-primary">Learn More</button>
</div>
<img class="why-img" src="../assets/why.png" alt="why choose us image">
</section>