
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

@font-face {
  font-family: 'CabinetGrotesk';
  src: url('../assets/fonts/CabinetGrotesk-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'CabinetGrotesk';
  src: url('../assets/fonts/CabinetGrotesk-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'CabinetGrotesk';
  src: url('../assets/fonts/CabinetGrotesk-Extrabold.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
