.flex {
  display: flex;
}
.flex-col{
  display: flex;
  flex-direction: column;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.gap-1 {
  gap: 4px;
}
.gap-2 {
  gap:8px;
}
.gap-3 {
  gap:12px;
}
.gap-4 {
gap:16px;
}
.gap-5 {
gap:20px;
}
.gap-6 {
gap: 24px;
}
.gap-7 {
  gap: 28px;
}
.gap-8 {
  gap: 32px;
}
.gap-9 {
  gap: 36px;
}
.gap-10 {
  gap: 40px;
}
.gap-11 {
  gap: 44px;
}
.gap-12 {
  gap: 48px;
}
.gap-13 {
  gap: 52px;
}
.gap-14 {
  gap: 56px;
}
.gap-15 {
  gap: 60px;
}
.gap-16 {
  gap: 64px;
}
.gap-17 {
  gap: 68px;
}
.gap-18 {
  gap: 72px;
}
.gap-19 {
  gap: 76px;
}
.gap-20 {
  gap: 80px;
}
.gap-21 {
  gap: 84px;
}
.gap-22 {
  gap: 88px;
}
.gap-23 {
  gap: 92px;
}
.gap-24 {
  gap: 96px;
}
.gap-25 {
  gap: 100px;
}
.gap-26 {
  gap: 104px;
}
.gap-27 {
  gap: 108px;
}
.gap-28 {
  gap: 112px;
}
.gap-29 {
  gap: 116px;
}
.gap-30 {
  gap: 120px;
}
