  $primary-color: #6D33FA;
  $secondary-color: #2ecc71;
  $text-color: #272727;
  $background-color: #ffffff;
  $background-accent: #F5F1FF;
  $greyedoutbutton-color:#BBBBBB;
  $ellipses-color-award:#F1EBFF;
  $spacing: clamp(1.25rem, 4vw, 6.25rem);   // 20px → 100px
  $gap: clamp(0.5rem, 4vw, 5rem);        // 8px → 80px
