---
title: Frybix
layout: baseLayout.njk
---
{%include "hero.njk" %}
{%include "brands.njk" %}
{%include "features.njk" %}
{%include "awards.njk" %}
{%include "why.njk" %}
{%include "screenshots.njk" %}
{%include "plans.njk" %}
{%include "testimonials.njk" %}
{%include "download.njk" %}




